@import url("https://fonts.googleapis.com/css2?family=Aladin&family=Roboto&family=Creepster&display=swap");

::selection {
  color: white;
  background-color: #ff9900;
}

.sr-sory {
  display: none !important;
}
